body {
	background-image: url('../img/salamander.jpg');
	background-repeat: repeat-y;
	background-position: right top;
    background-attachment: fixed;
}
#container {
	margin-right: auto;
	margin-left: auto;
	height: 90%;
	width: 90%;
}