
<a id="new-salamander-link" href="/salamanders/new">Create a new Salamander</a>
<h2>Roll Call</h2>
<ul>
<% @salamanders.each do |salamander| %>
	<li><a href="/salamanders/<%= salamander.id%>"><%= salamander.name %></a></li>
<% end %>
</ul>